   <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/" style="color:#FF6666; font-size:27px">BEYOND<p style="color: #339966; font-size:22px">VACATION</p</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" >
        <a class="nav-item nav-link active" href="/">HOME <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/members"style="color:#666666">MEMBERS</a>
        <a class="nav-item nav-link" href="/browse"style="color:#666666">BROWSE RENTALS</a>
        <a class="nav-item nav-link" href="/list" style="color:#666666">LIST RENTAL</a>
        <a class="nav-item nav-link" href="/signup" style="color:#666666">SIGNUP</a>
        <a class="nav-item nav-link" href="/login" style="color:#666666">LOGIN</a>
        <a class="nav-item nav-link" href="/logout" style="color:#666666">LOG OUT</a>
      </div>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid" id="jumbo-home" >
    <div class="container">
      <h1 class="display-4" style="visibility: hidden">AMAZING IMAGE HERE</h1>
    </div>
  </div>

  <div class="row" id="inspire-quote">
    <div class="col highlight" style="text-align: center;">
      <h6 id="inspire">"Those who contemplate the beauty of the earth find reserves of strength that will endure as long as life lasts"</h6>
      <p>-Rachel Carson</p>
      {{!-- <h5>For each loop that grabs the property_names from the Posters database
        {{#each quote}}
          {{dataValues.property_name}}
        {{/each}}
      <h5> --}}
    </div>
  </div>
  
  <div class="container">
    <div class="row" style="padding-top: 30px; padding-bottom: 30px;">

      <div class="col-sm-6">
        <div class="card" id="browse-image">
          <div class="card-body" >
            <a href="/browse" class="card-title">Browse Rentals</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card" id="list-image">
          <div class="card-body">
            <a href="/list" class="card-title">List Rental</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col highlight" style="text-align: center;">
      <h6>In the era of social distancing we have embraced creative ways to enjoy vacation and quality time with our closest loved ones. By allowing members to share access to out-door hidden gems, we facilitate adventure and wonder that will make your experience Beyond Vacation.</h6>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="container">
    <div class="row" style="padding-top: 30px; padding-bottom: 30px;">

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body" >
            <a href="/browse" class="card-title">Social Media Links</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <a href="/list" class="card-title">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>



<div class="spaceholder" style="height: 100px;"></div>
  <div id="footer" style="text-align: center;">
    Footer content here
  </div>
