    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/browse">Browse Rentals</a>
                <a class="nav-item nav-link" href="/list">List Rental</a>
                <a class="nav-item nav-link" href="/login">Login</a>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col">

                <div class="card" style="margin-top: 32px">
                    <div class="card-header">
                        <h5>Welcome {{email}}</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label for="firstName-members">First Name</label>
                                    <input type="firstName-members" class="form-control" id="firstName-members"
                                        placeholder="First Name">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="lastName-members">Last Name</label>
                                    <input type="lastName-members" class="form-control" id="lastName-members"
                                        placeholder="Last Name">
                                </div>

                            </div>
                            <hr>
                            <div class="form-row">
                                <h5>YOUR LISTINGS</h>
                            </div>

                            <div class="form-row">
                                <!--POPULATE THIS AREA WITH CARDS OF RENTAL LISTINGS-->
                                <div class="col">
                                    <div class="card" style="width: 18rem; padding:0px">
                                        <img class="card-img-top"
                                            src="https://www.familyhandyman.com/wp-content/uploads/2018/02/handcrafted-log-home.jpg"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Vacation Rental</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card" style="width: 18rem; padding:0px">
                                        <img class="card-img-top"
                                            src="https://wvr-d7-files-prod.s3.amazonaws.com/styles/300x300/s3/experiences_thumbnails/300x300-NWFL%20Beaches-2017.jpg?itok=P1qKGvry"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Vacation Rental</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card" style="width: 18rem; padding:0px">
                                        <img class="card-img-top"
                                            src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/camping-ideas-1561136670.jpg?crop=0.669xw:1.00xh;0.166xw,0&resize=640:*"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Vacation Rental</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <hr>
                            <div class="form-row">
                                <h5>YOUR RENTALS</h>
                            </div>

                            <div class="form-row">
                                <!--POPULATE THIS AREA WITH CARDS OF RENTAL LISTINGS-->
                                <div class="col">
                                    <div class="card" style="width: 18rem; padding:0px">
                                        <img class="card-img-top"
                                            src="https://www.familyhandyman.com/wp-content/uploads/2018/02/handcrafted-log-home.jpg"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Vacation Rental</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card" style="width: 18rem; padding:0px">
                                        <img class="card-img-top"
                                            src="https://wvr-d7-files-prod.s3.amazonaws.com/styles/300x300/s3/experiences_thumbnails/300x300-NWFL%20Beaches-2017.jpg?itok=P1qKGvry"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Vacation Rental</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card" style="width: 18rem; padding:0px">
                                        <img class="card-img-top"
                                            src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/camping-ideas-1561136670.jpg?crop=0.669xw:1.00xh;0.166xw,0&resize=640:*"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Vacation Rental</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>


            </div>
        </div>

        <div class="spaceholder" style="height: 100px;"></div>
        <div id="footer" style="text-align: center;">
            Footer content here
        </div>
