   <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/" style="color:#FF6666; font-size:27px">BEYOND<p style="color: #339966; font-size:22px">VACATION</p</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" >
        <a class="nav-item nav-link" href="/" style="color:#666666">HOME</a>
        <a class="nav-item nav-link" href="/members"style="color:#666666">MEMBERS</a>
        <a class="nav-item nav-link" href="/browse"style="color:#666666">BROWSE RENTALS</a>
        <a class="nav-item nav-link" href="/list" style="color:#666666">LIST RENTAL</a>
        <a class="nav-item nav-link active" href="/signup" >SIGNUP <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/login" style="color:#666666">LOGIN</a>
        <a class="nav-item nav-link" href="/logout" style="color:#666666">LOG OUT</a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-6" style="margin-top:25px">

        <div class="card" style="padding:10px">
          <div class="card-header">
            <h2>Sign Up</h2>
          </div>

          <form class="signup" id="signup">
            <div class="form-row" style="margin-top: 10px">
              <div class="form-group col-md-6" >
                <label for="firstName-input">First Name</label>
                <input type="text" class="form-control" id="firstName-input" placeholder="First Name">
              </div>
              <div class="form-group col-md-6">
                <label for="lastName-input">Last Name</label>
                <input type="text" class="form-control" id="lastName-input" placeholder="Last Name">
              </div>
          </div>

            <div class="form-group" >
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="email-input" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="InputPassword1">Password</label>
              <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="InputPassword2">Confirm Password</label>
              <input type="text" class="form-control" id="password-confirm" placeholder="Re-type password">
            </div>
            <button type="submit" class="btn btn-success" id="submit">Sign Up</button>
          </form>
          <br />
          <p>Or Login Here <a href="/login">here</a></p>
        </div>
      </div>
    </div>
  </div>

<div class="spaceholder" style="height: 100px;"></div>
  <div id="footer" style="text-align: center;">
    Footer content here
  </div>