.navbar{
  font-family: Tahoma;
}
.nav-item{
  font-size: 14px;
  
  
}
.highlight{
  background-color: lightgreen;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgreen;
  color: white;
  text-align: center;
}
